*~
/Memoria/*.aux
/Memoria/*.bbl
/Memoria/*.blg
/Memoria/*.lof
/Memoria/*.log
/Memoria/*.lot
/Memoria/*.out
/Memoria/*.gz
/Memoria/*.toc
/3DCurator/build
/3DCurator/desktop.ini
/desktop.ini
/Proyectos auxiliares/3DReconstructionFromDICOM/build
